@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-especial: "Passion One", sans-serif;
    --fonte-normal: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

#flor {
    background: black url(../imagens/background001.jpg) right center / cover no-repeat fixed;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.281);

}

#flor > p{
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.658);
}

#carta {
    background: black url(../imagens/background002.jpg) left top / cover no-repeat fixed;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.281);
}

#carta > p{
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.658);
}

header {
    background-color: black;
}

header h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family: var(--fonte-especial);
    font-size: 8em;
}

header p {
    color: white;   
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main p {
    font-family: var(--fonte-normal);
    font-size: 3em;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 2em;
}

footer {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: white;
    padding: 10px 0px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}